Repository storybookjs/marko: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, sort-package-json --quiet

.lintstagedrc.json:

{
  "*.ts": ["eslint --fix", "prettier --write"],
  "*{.js,.json,.md,.yml,rc}": ["prettier --write"],
  "./{,packages/*/*/,tests/frameworks/*/}package.json": [
    "prettier --write",
    "sort-package-json --quiet"
  ]
}

chore: upgrade deps (#36)
  .changeset/tall-cougars-allow.md
  package-lock.json
  package.json
  packages/frameworks/marko-vite/package.json
  packages/frameworks/marko-webpack/package.json
  packages/renderers/marko/package.json
  tests/frameworks/vite/package.json
  tests/frameworks/webpack/package.json
  tests/test-page.ts
Due: eslint --fix, prettier --write, sort-package-json --quiet

fix: support rendering marko 6 templates
  .changeset/orange-eels-nail.md
  package-lock.json
  package.json
  packages/renderers/marko/src/decorators.ts
  packages/renderers/marko/src/render.ts
  packages/renderers/marko/src/testing-api.ts
Due: eslint --fix, prettier --write, sort-package-json --quiet

fix: support rendering marko 6 templates (#38)
  .changeset/orange-eels-nail.md
  package-lock.json
  package.json
  packages/renderers/marko/src/decorators.ts
  packages/renderers/marko/src/render.ts
  packages/renderers/marko/src/testing-api.ts
Due: eslint --fix, prettier --write, sort-package-json --quiet

fix: avoid stubbing test apis for known tags api templates
  .changeset/late-plums-swim.md
  packages/renderers/marko/src/testing-api.ts
Due: eslint --fix, prettier --write

chore: tools get slower, timeouts get bigger
  tests/fixtures/click-count/test.ts
  tests/fixtures/invalid/test.ts
  tests/fixtures/split-component/test.ts
Due: eslint --fix, prettier --write

[ci] format
  tests/fixtures/click-count/test.ts
  tests/fixtures/invalid/test.ts
  tests/fixtures/split-component/test.ts
Due: eslint --fix, prettier --write

fix: avoid stubbing test apis for known tags api templates (#40)
  .changeset/late-plums-swim.md
  packages/renderers/marko/src/testing-api.ts
  tests/fixtures/click-count/test.ts
  tests/fixtures/invalid/test.ts
  tests/fixtures/split-component/test.ts
Due: eslint --fix, prettier --write

chore: update base deps
  package-lock.json
  package.json
Due: prettier --write, sort-package-json --quiet

feat: storybook 9 upgrade
  .changeset/curly-spiders-argue.md
  README.md
  package-lock.json
  packages/frameworks/marko-vite/package.json
  packages/frameworks/marko-vite/src/preset.ts
  packages/frameworks/marko-vite/src/types.ts
  packages/frameworks/marko-webpack/package.json
  packages/frameworks/marko-webpack/src/preset.ts
  packages/frameworks/marko-webpack/src/types.ts
  packages/renderers/marko/package.json
  packages/renderers/marko/src/decorators.ts
  packages/renderers/marko/src/entry-preview-docs.ts
  packages/renderers/marko/src/preset.ts
  packages/renderers/marko/src/public-types.ts
  packages/renderers/marko/src/render.ts
  packages/renderers/marko/src/testing-api.ts
  packages/renderers/marko/src/types.ts
  tests/fixtures/click-count/test.ts
  tests/fixtures/invalid/test.ts
  tests/fixtures/split-component/test.ts
  tests/frameworks/vite/.storybook/main.ts
  tests/frameworks/vite/package.json
  tests/frameworks/webpack/.storybook/main.ts
  tests/frameworks/webpack/package.json
Due: eslint --fix, prettier --write, sort-package-json --quiet

Storybook 9 support (#42)
  .changeset/curly-spiders-argue.md
  README.md
  package-lock.json
  package.json
  packages/frameworks/marko-vite/package.json
  packages/frameworks/marko-vite/src/preset.ts
  packages/frameworks/marko-vite/src/types.ts
  packages/frameworks/marko-webpack/package.json
  packages/frameworks/marko-webpack/src/preset.ts
  packages/frameworks/marko-webpack/src/types.ts
  packages/renderers/marko/package.json
  packages/renderers/marko/src/decorators.ts
  packages/renderers/marko/src/entry-preview-docs.ts
  packages/renderers/marko/src/preset.ts
  packages/renderers/marko/src/public-types.ts
  packages/renderers/marko/src/render.ts
  packages/renderers/marko/src/testing-api.ts
  packages/renderers/marko/src/types.ts
  tests/frameworks/vite/.storybook/main.ts
  tests/frameworks/vite/package.json
  tests/frameworks/webpack/.storybook/main.ts
  tests/frameworks/webpack/package.json
Due: eslint --fix, prettier --write, sort-package-json --quiet

fix: allow @storybook/marko package to support storybook 9 & 10
  .changeset/icy-rings-attend.md
  .changeset/mighty-places-march.md
  package-lock.json
  packages/frameworks/marko-vite/package.json
  packages/frameworks/marko-webpack/package.json
  packages/renderers/marko/package.json
  packages/renderers/marko/src/globals.ts
  packages/renderers/marko/src/preset.ts
  scripts/build.ts
  tests/fixtures/invalid/test.ts
  tests/frameworks/vite/.storybook/main.ts
  tests/frameworks/webpack/.storybook/main.ts
  tests/test-page.ts
Due: eslint --fix, prettier --write, sort-package-json --quiet

chore: update deps
  package-lock.json
  package.json
  packages/renderers/marko/src/render.ts
  tests/fixtures/click-count/test.ts
  tests/fixtures/invalid/test.ts
  tests/fixtures/split-component/test.ts
Due: eslint --fix, prettier --write, sort-package-json --quiet

feat: bump webpack/vite builders to support storybook@10
  .changeset/ready-news-cry.md
  .changeset/solid-pans-fry.md
  package-lock.json
  packages/frameworks/marko-vite/package.json
  packages/frameworks/marko-webpack/package.json
  packages/frameworks/marko-webpack/src/preset.ts
  packages/renderers/marko/src/preset.ts
  tests/fixtures/split-component/test.ts
  tests/frameworks/vite/package.json
  tests/frameworks/webpack/.storybook/main.ts
  tests/frameworks/webpack/package.json
Due: eslint --fix, prettier --write, sort-package-json --quiet

chore: remove import sort linting
  .eslintrc.json
  package-lock.json
  package.json
Due: prettier --write, sort-package-json --quiet

docs: update compatible storybook versions
  README.md
Due: prettier --write

fix: default vite allowed hosts config
  .changeset/great-flowers-lie.md
  packages/frameworks/marko-vite/src/preset.ts
Due: eslint --fix, prettier --write

feat: vite 8 support
  .changeset/nine-days-prove.md
  .github/workflows/ci.yml
  package-lock.json
  package.json
  packages/frameworks/marko-vite/package.json
  packages/renderers/marko/src/testing-api.ts
  tests/frameworks/vite/package.json
  tests/frameworks/webpack/package.json
Due: eslint --fix, prettier --write, sort-package-json --quiet

chore: update marko dependencies
  package-lock.json
  tests/fixtures/attr-tags/test.ts
  tests/fixtures/click-count/test.ts
  tests/fixtures/controllable-inputs/test.ts
  tests/fixtures/split-component/test.ts
Due: eslint --fix, prettier --write

docs: add scripts for running test storybook from root
  package.json
  tests/frameworks/vite/package.json
Due: prettier --write, sort-package-json --quiet

feat: auto-add change handler with description to table
  packages/renderers/marko/src/entry-preview.ts
  packages/renderers/marko/src/typings.d.ts
Due: eslint --fix, prettier --write

feat: enable `changeHandler` in story args
  packages/renderers/marko/src/render.ts
  tests/fixtures/controllable-inputs/index.marko
  tests/fixtures/controllable-inputs/stories.ts
Due: eslint --fix, prettier --write

chore: tie up some loose ends
  package-lock.json
  package.json
  packages/renderers/marko/src/typings.d.ts
  tests/fixtures/controllable-inputs/stories.ts
  tests/frameworks/vite/.storybook/preview.ts
  tests/frameworks/webpack/.storybook/preview.ts
Due: eslint --fix, prettier --write, sort-package-json --quiet

chore: add changeset
  .changeset/thirty-houses-cut.md
Due: prettier --write

feat: improved attr tag syntax
  packages/renderers/marko/src/attr-tag.ts
  packages/renderers/marko/src/entry-preview.ts
  packages/renderers/marko/src/render.ts
  packages/renderers/marko/src/typings.d.ts
  tests/fixtures/attr-tags/index.marko
  tests/fixtures/attr-tags/stories.ts
Due: eslint --fix, prettier --write

feat: push overridden category into subcategory
  packages/renderers/marko/src/entry-preview.ts
  tests/fixtures/attr-tags/stories.ts
Due: eslint --fix, prettier --write

fix: process input for both `render` and `renderToCanvas`
  packages/renderers/marko/src/render.ts
Due: eslint --fix, prettier --write

feat: add bodyContent summary
  packages/renderers/marko/src/entry-preview.ts
Due: eslint --fix, prettier --write

fix: normalize arg types
  packages/renderers/marko/src/entry-preview.ts
  tests/fixtures/attr-tags/stories.ts
Due: eslint --fix, prettier --write

feat: simplify controllable, add marko 5 bodyContent
  packages/renderers/marko/src/entry-preview.ts
  packages/renderers/marko/src/render.ts
  packages/renderers/marko/src/typings.d.ts
  tests/fixtures/attr-tags/index.marko
  tests/fixtures/attr-tags/stories.ts
  tests/fixtures/controllable-inputs/stories.ts
  tests/fixtures/split-component/component-browser.ts
  tests/fixtures/split-component/index.marko
  tests/fixtures/split-component/stories.ts
Due: eslint --fix, prettier --write

fix: more type sources
  packages/renderers/marko/src/entry-preview.ts
Due: eslint --fix, prettier --write

refactor: don't use content yet
  tests/fixtures/attr-tags/index.marko
  tests/fixtures/attr-tags/stories.ts
Due: eslint --fix, prettier --write

fix: remove problematic test
  tests/fixtures/controllable-inputs/test.ts
Due: eslint --fix, prettier --write

fix: prevent infinite hanging tests
  tests/test-page.ts
Due: eslint --fix, prettier --write
