Repository storybookjs/marko: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, sort-package-json --quiet

fix: ensure playwright installed for ci
  .changeset/config.json
  .github/workflows/ci.yml
  package.json
Due: prettier --write, sort-package-json --quiet

fix: css node_module imports
  .changeset/big-tips-march.md
  packages/frameworks/marko-vite/src/preset.ts
  tests/fixtures/click-count/stories.ts
  tests/fixtures/click-count/test.ts
  tests/fixtures/invalid/test.ts
  tests/fixtures/split-component/stories.ts
  tests/fixtures/split-component/test.ts
Due: eslint --fix, prettier --write

chore: update workflow
  .github/workflows/ci.yml
  tests/fixtures/click-count/stories.ts
  tests/fixtures/click-count/test.ts
  tests/fixtures/invalid/test.ts
  tests/fixtures/split-component/stories.ts
  tests/fixtures/split-component/test.ts
Due: eslint --fix, prettier --write

fix: css node_module imports (#9)
  .changeset/big-tips-march.md
  .github/workflows/ci.yml
  packages/frameworks/marko-vite/src/preset.ts
Due: eslint --fix, prettier --write

docs: add missing testing docs
  README.md
  testing.md
Due: prettier --write

docs: add missing testing docs (#11)
  README.md
  testing.md
Due: prettier --write

chore: upgrade dependencies
  .changeset/sweet-oranges-leave.md
  .eslintrc.json
  package-lock.json
  package.json
  packages/frameworks/marko-vite/package.json
  packages/frameworks/marko-vite/src/preset.ts
  packages/frameworks/marko-vite/src/types.ts
  packages/frameworks/marko-webpack/package.json
  packages/frameworks/marko-webpack/src/types.ts
  packages/renderers/marko/package.json
  packages/renderers/marko/src/decorators.ts
  packages/renderers/marko/src/docs/config.ts
  packages/renderers/marko/src/public-api.ts
  packages/renderers/marko/src/testing-api.ts
  scripts/build.ts
  tests/fixtures/click-count/stories.ts
  tests/fixtures/click-count/test.ts
  tests/fixtures/invalid/test.ts
  tests/fixtures/split-component/stories.ts
  tests/fixtures/split-component/test.ts
  tests/frameworks/vite/package.json
  tests/frameworks/webpack/package.json
  tests/test-page.ts
Due: eslint --fix, prettier --write, sort-package-json --quiet

chore: upgrade dependencies (#12)
  .changeset/sweet-oranges-leave.md
  .eslintrc.json
  package-lock.json
  package.json
  packages/frameworks/marko-vite/package.json
  packages/frameworks/marko-vite/src/preset.ts
  packages/frameworks/marko-vite/src/types.ts
  packages/frameworks/marko-webpack/package.json
  packages/frameworks/marko-webpack/src/types.ts
  packages/renderers/marko/package.json
  packages/renderers/marko/src/decorators.ts
  packages/renderers/marko/src/docs/config.ts
  packages/renderers/marko/src/public-api.ts
  packages/renderers/marko/src/testing-api.ts
  scripts/build.ts
  tests/fixtures/click-count/stories.ts
  tests/fixtures/click-count/test.ts
  tests/fixtures/invalid/test.ts
  tests/fixtures/split-component/stories.ts
  tests/fixtures/split-component/test.ts
  tests/frameworks/vite/package.json
  tests/frameworks/webpack/package.json
  tests/test-page.ts
Due: eslint --fix, prettier --write, sort-package-json --quiet

fix: avoid vite cjs import
  .changeset/moody-trains-lick.md
  packages/frameworks/marko-vite/src/preset.ts
Due: eslint --fix, prettier --write

fix: avoid vite cjs import (#15)
  .changeset/moody-trains-lick.md
  packages/frameworks/marko-vite/src/preset.ts
Due: eslint --fix, prettier --write

chore: upgrade deps
  .changeset/itchy-cats-give.md
  .github/workflows/ci.yml
  package-lock.json
  package.json
  packages/frameworks/marko-vite/package.json
  packages/frameworks/marko-webpack/package.json
  packages/renderers/marko/package.json
  tests/frameworks/vite/package.json
  tests/frameworks/webpack/package.json
Due: prettier --write, sort-package-json --quiet

chore: upgrade deps (#17)
  .changeset/itchy-cats-give.md
  .github/workflows/ci.yml
  package-lock.json
  package.json
  packages/frameworks/marko-vite/package.json
  packages/frameworks/marko-webpack/package.json
  packages/renderers/marko/package.json
  tests/frameworks/vite/package.json
  tests/frameworks/webpack/package.json
Due: prettier --write, sort-package-json --quiet

fix: decorators were not being applied
  .changeset/red-hotels-hunt.md
  README.md
  packages/renderers/marko/src/config.ts
Due: eslint --fix, prettier --write

fix: decorators were not being applied (#19)
  .changeset/red-hotels-hunt.md
  README.md
  packages/renderers/marko/src/config.ts
Due: eslint --fix, prettier --write

fix: decorators in test runner
  .changeset/loud-olives-remain.md
  packages/renderers/marko/src/testing-api.ts
Due: eslint --fix, prettier --write

fix: decorators in test runner (#21)
  .changeset/loud-olives-remain.md
  packages/renderers/marko/src/testing-api.ts
Due: eslint --fix, prettier --write

fix: incorrect types for Meta with decorators/loaders
  packages/renderers/marko/src/public-types.ts
Due: eslint --fix, prettier --write

chore: add changeset
  .changeset/dirty-ways-change.md
Due: prettier --write

fix: incorrect types for Meta with decorators/loaders (#23)
  .changeset/dirty-ways-change.md
  packages/renderers/marko/src/public-types.ts
Due: eslint --fix, prettier --write

fix: improve types
  .changeset/olive-shrimps-shave.md
  packages/renderers/marko/src/decorators.ts
  packages/renderers/marko/src/public-types.ts
  packages/renderers/marko/src/testing-api.ts
  packages/renderers/marko/src/types.ts
  tests/fixtures/split-component/test.ts
Due: eslint --fix, prettier --write

chore: update eslint config
  .eslintrc.json
Due: prettier --write

[ci] format
  tests/fixtures/split-component/test.ts
Due: eslint --fix, prettier --write

fix: improve types (#24)
  .changeset/olive-shrimps-shave.md
  .eslintrc.json
  packages/renderers/marko/src/decorators.ts
  packages/renderers/marko/src/public-types.ts
  packages/renderers/marko/src/testing-api.ts
  packages/renderers/marko/src/types.ts
Due: eslint --fix, prettier --write

chore: upgrade deps
  package-lock.json
  package.json
  packages/renderers/marko/src/testing-api.ts
  tests/fixtures/click-count/test.ts
  tests/fixtures/split-component/test.ts
Due: eslint --fix, prettier --write, sort-package-json --quiet

chore: upgrade deps (#25)
  package-lock.json
  package.json
  packages/renderers/marko/src/testing-api.ts
  tests/fixtures/click-count/test.ts
  tests/fixtures/split-component/test.ts
Due: eslint --fix, prettier --write, sort-package-json --quiet

chore: increase default playwright timeouts
  tests/test-page.ts
Due: eslint --fix, prettier --write

chore: increase default playwright timeouts (#26)
  tests/test-page.ts
Due: eslint --fix, prettier --write

feat: upgrade to storybook 8
  .changeset/giant-laws-promise.md
  package-lock.json
  package.json
  packages/frameworks/marko-vite/package.json
  packages/frameworks/marko-vite/src/preset.ts
  packages/frameworks/marko-vite/src/types.ts
  packages/frameworks/marko-webpack/package.json
  packages/frameworks/marko-webpack/src/preset.ts
  packages/frameworks/marko-webpack/src/types.ts
  packages/renderers/marko/package.json
  packages/renderers/marko/preset.js
  packages/renderers/marko/preview.js
  packages/renderers/marko/src/config.ts
  packages/renderers/marko/src/decorators.ts
  packages/renderers/marko/src/entry-preview-docs.ts
  packages/renderers/marko/src/entry-preview.ts
  packages/renderers/marko/src/index.ts
  packages/renderers/marko/src/preset.ts
  packages/renderers/marko/src/public-api.ts
  packages/renderers/marko/src/testing-api.ts
  tests/fixtures/click-count/test.ts
  tests/fixtures/invalid/test.ts
  tests/fixtures/split-component/test.ts
  tests/frameworks/vite/.storybook/main.ts
  tests/frameworks/vite/package.json
  tests/frameworks/webpack/.storybook/main.ts
  tests/frameworks/webpack/package.json
  tests/test-page.ts
Due: eslint --fix, prettier --write, sort-package-json --quiet

[ci] format
  tests/fixtures/click-count/test.ts
  tests/fixtures/invalid/test.ts
  tests/fixtures/split-component/test.ts
Due: eslint --fix, prettier --write

feat: upgrade to storybook 8 (#28)
  .changeset/giant-laws-promise.md
  package-lock.json
  package.json
  packages/frameworks/marko-vite/package.json
  packages/frameworks/marko-vite/src/preset.ts
  packages/frameworks/marko-vite/src/types.ts
  packages/frameworks/marko-webpack/package.json
  packages/frameworks/marko-webpack/src/preset.ts
  packages/frameworks/marko-webpack/src/types.ts
  packages/renderers/marko/package.json
  packages/renderers/marko/preset.js
  packages/renderers/marko/preview.js
  packages/renderers/marko/src/config.ts
  packages/renderers/marko/src/decorators.ts
  packages/renderers/marko/src/entry-preview-docs.ts
  packages/renderers/marko/src/entry-preview.ts
  packages/renderers/marko/src/index.ts
  packages/renderers/marko/src/preset.ts
  packages/renderers/marko/src/public-api.ts
  packages/renderers/marko/src/testing-api.ts
  tests/fixtures/click-count/test.ts
  tests/fixtures/invalid/test.ts
  tests/fixtures/split-component/test.ts
  tests/frameworks/vite/.storybook/main.ts
  tests/frameworks/vite/package.json
  tests/frameworks/webpack/.storybook/main.ts
  tests/frameworks/webpack/package.json
  tests/test-page.ts
Due: eslint --fix, prettier --write, sort-package-json --quiet

fix: include dist in export maps
  .changeset/neat-brooms-deny.md
  packages/frameworks/marko-vite/package.json
  packages/frameworks/marko-webpack/package.json
  packages/renderers/marko/package.json
Due: prettier --write, sort-package-json --quiet

fix: include dist in export maps (#30)
  .changeset/neat-brooms-deny.md
  packages/frameworks/marko-vite/package.json
  packages/frameworks/marko-webpack/package.json
  packages/renderers/marko/package.json
Due: prettier --write, sort-package-json --quiet

fix: package name conflict
  package-lock.json
  package.json
Due: prettier --write, sort-package-json --quiet

chore: upgrade dependencies
  package-lock.json
  package.json
  packages/frameworks/marko-vite/package.json
  packages/frameworks/marko-webpack/package.json
  packages/renderers/marko/package.json
Due: prettier --write, sort-package-json --quiet

chore: add changeset
  .changeset/dry-impalas-thank.md
Due: prettier --write

chore: update dependencies (#32)
  .changeset/dry-impalas-thank.md
  package-lock.json
  package.json
  packages/frameworks/marko-vite/package.json
  packages/frameworks/marko-webpack/package.json
  packages/renderers/marko/package.json
Due: prettier --write, sort-package-json --quiet

chore: dep upgrades
  .changeset/shaggy-shirts-sneeze.md
  .changeset/silver-baboons-change.md
  .husky/pre-commit
  package-lock.json
  package.json
  packages/frameworks/marko-vite/package.json
  packages/frameworks/marko-vite/src/preset.ts
  packages/frameworks/marko-webpack/package.json
  tests/frameworks/vite/package.json
  tests/frameworks/webpack/package.json
Due: eslint --fix, prettier --write, sort-package-json --quiet

chore: dep upgrades (#34)
  .changeset/shaggy-shirts-sneeze.md
  .changeset/silver-baboons-change.md
  .husky/pre-commit
  package-lock.json
  package.json
  packages/frameworks/marko-vite/package.json
  packages/frameworks/marko-vite/src/preset.ts
  packages/frameworks/marko-webpack/package.json
  tests/frameworks/vite/package.json
  tests/frameworks/webpack/package.json
Due: eslint --fix, prettier --write, sort-package-json --quiet

chore: upgrade deps
  .changeset/tall-cougars-allow.md
  package-lock.json
  package.json
  packages/frameworks/marko-vite/package.json
  packages/frameworks/marko-webpack/package.json
  packages/renderers/marko/package.json
  tests/frameworks/vite/package.json
  tests/frameworks/webpack/package.json
  tests/test-page.ts
Due: eslint --fix, prettier --write, sort-package-json --quiet

Path conditions:
  eslint --fix: any of: *.ts
  prettier --write: ((any of: *.ts) or (any of: *{.js,.json,.md,.yml,rc})) or (any of: ./{,packages/*/*/,tests/frameworks/*/}package.json)
  sort-package-json --quiet: any of: ./{,packages/*/*/,tests/frameworks/*/}package.json
